{include file="pageheader.htm"}
{insert_scripts files="validator.js"}
<form action="mobile_setting.php" method="post" enctype="multipart/form-data">
<div class="main-div">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label"><a href="javascript:showNotice('width_height');" title="{$lang.form_notice}"><img src="images/notice.svg" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>{$lang.img_src}</td>
    <td><input type="file" name="img_file_src" value="" id="some_name" size="40" />
    <br /><input name="img_src" type="text" value="{$rt.img_src}" size="40" />
    <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="width_height">{$width_height}</span>
    </td>
  </tr>
  <!-- <tr>
    <td class="label">{$lang.img_url}</td>
    <td><input name="img_url" type="text" value="{if $smarty.get.ad_link}{$smarty.get.ad_link}{else}{$rt.img_url}{/if}" size="40" /></td>
  </tr> -->
  <tr>
    <td class="label">H5端跳转地址</td>
    <td><input name="img_url" type="text" value="{$rt.img_url}" size="40" /><span style="font-size: 28;color: darkgrey;margin-left: 5px;">* 可以填写URL地址(URL地址请带上http://或https://),也可以填写商品ID,下同</span></td>
  </tr>
  <tr>
    <td class="label">APP端跳转地址</td>
    <td><input name="app_url" type="text" value="{$rt.app_url}" size="40" /></td>
  </tr>
  <tr>
      <td class="label">小程序端跳转地址</td>
      <td><input name="mp_url" type="text" value="{$rt.mp_url}" size="40" /></td>
  </tr>
  <tr>
    <td class="label">轮播图排序</td>
    <td><input name="ranking" type="text" value="{$rt.ranking}" size="40" /></td>
  </tr>
  <!-- <tr>
    <td class="label"></td>
    <td><input name="img_sort" type="text" value="{$rt.img_sort}" size="4" maxlength="3"/></td>
  </tr> -->
  <tr align="center">
    <td colspan="2">
      <input type="hidden"  name="id"       value="{$rt.id}" />
      <input type="hidden"  name="step"       value="2" />
      <input type="hidden"  name="act"       value="{$rt.act}" />
      <input type="submit" class="button" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="button"  name="Reset"        value="{$lang.button_reset}" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{include file="pagefooter.htm"}