
{include file="pageheader.htm"}
<div style="width:100%;border:solid 1px #dddddd;padding: 25px;">
    <div style="margin: 0 auto;width: 350px;">
        <form action="mobile_setting.php?act=up_logo_other" method="post" enctype="multipart/form-data">
            <p>登录、注册、修改密码的logo更换</p>
            <input type="file" name="logo_other"><br>
            {if $shop_other}
            <img src="{$shop_other}" alt="" width="50px" height="50px">
            {/if}
            <p>图片外部URL</p>
            <p><input type="text" name="image_url" value="" placeholder="(请带上http://或者https://)"></p>
            <button type="submit"> 提交 </button>
    </div>
</div>
</form>

{include file="pagefooter.htm"}