<!-- $Id: category_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->
{include file="pageheader.htm"}
<!-- start add new category form -->
<div class="main-div">
  <form action="delivery_method.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
  <table width="100%" id="general-table">
      <tr>
        <td class="label">配送名称:</td>
        <td>
          <input type='text' name='delivery_name' maxlength="20" value='{$cat_info.delivery_name|escape:html}' size='27' /> <font color="red">*</font>
        </td>
      </tr>
      <tr>
        <td class="label">选择配送上级:</td>
        <td>
          <select name="parent_id">
              {if $data_info !='false'}
              <option value="0">顶级配送</option>
              {/if}
              {foreach from=$cat_select item=attr name="filter_attr_tab"}
                <option value={$attr.delivery_id}>{$attr.delivery_name}</option>
              {/foreach}
          </select>
        </td>
      </tr>

      <tr id="measure_unit">
        <td class="label">费用:</td>
        <td>
          <input type="text" name='cost' value='{$cat_info.cost}' size="12" />
        </td>
      </tr>
      <tr>
        <td class="label">{$lang.sort_order}:</td>
        <td>
          <input type="text" name='sort_order' {if $cat_info.sort_order}value='{$cat_info.sort_order}'{else} value="50"{/if} size="15" />
        </td>
      </tr>

      <tr>
        <td class="label">是否开启:</td>
        <td>
          <input type="radio" name="is_show" value="true" {if $cat_info.is_show == 'true'} checked="true"{/if}/> {$lang.yes}
          <input type="radio" name="is_show" value="false" {if $cat_info.is_show == 'false'} checked="true"{/if} /> {$lang.no}
        </td>
      </tr>
      <tr>
          <td class="label">是否调用PC端配送方式:</td>
          <td>
              <input type="radio" name="type" value="1" {if $cat_info.type == '1'} checked="true"{/if}/> {$lang.yes}
              <input type="radio" name="type" value="0" {if $cat_info.type == '0'} checked="true"{/if} /> {$lang.no}
          </td>
      </tr>
  </table>
      <div class="button-div">
        <input type="submit" class="btn" value="{$lang.button_submit}" />
        <input type="reset" class="btn btn-def" value="{$lang.button_reset}" />
      </div>
    <input type="hidden" name="act" value="{$form_act}" />
<!--    <input type="hidden" name="old_cat_name" value="{$cat_info.cat_name}" />-->
    <input type="hidden" name="delivery_id" value="{$cat_info.delivery_id}" />
  </form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['cat_name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  validator.required("cat_name",      catname_empty);
  if (parseInt(document.forms['theForm'].elements['grade'].value) >10 || parseInt(document.forms['theForm'].elements['grade'].value) < 0)
  {
    validator.addErrorMsg('{$lang.grade_error}');
  }
  return validator.passed();
}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

/**
 * 新增一个筛选属性
 */
function addFilterAttr(obj)
{
  var src = obj.parentNode.parentNode;
  var tbl = document.getElementById('tbody-attr');

  var validator  = new Validator('theForm');
  var filterAttr = document.getElementsByName("filter_attr[]");

  if (filterAttr[filterAttr.length-1].selectedIndex == 0)
  {
    validator.addErrorMsg(filter_attr_not_selected);
  }
  
  for (i = 0; i < filterAttr.length; i++)
  {
    for (j = i + 1; j <filterAttr.length; j++)
    {
      if (filterAttr.item(i).value == filterAttr.item(j).value)
      {
        validator.addErrorMsg(filter_attr_not_repeated);
      } 
    } 
  }

  if (!validator.passed())
  {
    return false;
  }

  var row  = tbl.insertRow(tbl.rows.length);
  var cell = row.insertCell(-1);
  cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addFilterAttr)(.*)(\[)(\+)/i, "$1removeFilterAttr$3$4-");
  filterAttr[filterAttr.length-1].selectedIndex = 0;
}

/**
 * 删除一个筛选属性
 */
function removeFilterAttr(obj)
{
  var row = rowindex(obj.parentNode.parentNode);
  var tbl = document.getElementById('tbody-attr');

  tbl.deleteRow(row);
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}