<!-- $Id: page.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{insert_scripts files="../js/utils.js"}
<div id="turn-page">
  <span id="pageCurrent">{$filter.page}</span> / <span id="totalPages">{$page_count}</span>
  页，每页 <input type='text' size='3' id='pageSize' value="{$filter.page_size}" onkeypress="return listTable.changePageSize(event)">
  条记录，总共 <span id="totalRecords">{$record_count}</span>
  条记录
  <span id="page-link">
    {literal}<a href="javascript:listTable.gotoPageFirst()">{/literal}{$lang.page_first}</a>
    {literal}<a href="javascript:listTable.gotoPagePrev()">{/literal}{$lang.page_prev}</a>
    {literal}<a href="javascript:listTable.gotoPageNext()">{/literal}{$lang.page_next}</a>
    {literal}<a href="javascript:listTable.gotoPageLast()">{/literal}{$lang.page_last}</a>
    <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
      {create_pages count=$page_count page=$filter.page}
    </select>
  </span>
</div>
