
{include file="pageheader.htm"}

<div style="width:100%;border:solid 1px #dddddd;padding: 25px;">
    <div style="margin: 0 auto;width: 350px;">
        <form action="mobile_setting.php" method="post" enctype="multipart/form-data">
            <input type="file" name="prompt_image">
            {if $prompt_image}
            <img src="{$prompt_image}" alt="" width="50px" height="50px">
            {/if}
            <p><span></span><input type="text" name="prompt_external_image" value="{$prompt_external_image}" placeholder="图片外部URL"></p>
            <p><span>图片1链接：</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="prompt_image_url" value="{$prompt_image_url}"></p>
            <p><span>红包ID：</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="prompt_bonus_id" value="{$prompt_bonus_id}"><span style="color: red"> *(按用户发放类型)</span></p>
            <p><span>是否开启：</span><input type="radio" name="prompt_image_status" value="1" {if $prompt_image_status =='1' } checked{/if}>是
                <input type="radio" name="prompt_image_status" value="2" {if $prompt_image_status =='2' } checked{/if}>否</p>
            <input type="hidden" name="act" value="up_prompt_image">
            <button type="submit"> 提交 </button>
        </form>
    </div>
</div>

{include file="pagefooter.htm"}
