{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- 订单搜索 -->
<!--<div class="form-div">-->
<!--    <form action="javascript:searchOrder()" name="searchForm">-->
<!--        &lt;!&ndash; <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" /> &ndash;&gt;-->
<!--        {$lang.label_delivery_sn}<input name="delivery_sn" type="text" id="delivery_sn" size="15">-->
<!--        {$lang.order_sn}<input name="order_sn" type="text" id="order_sn" size="15">-->
<!--        {$lang.consignee|escape}<input name="consignee" type="text" id="consignee" size="15">-->
<!--        <input type="submit" value="{$lang.button_search}" class="button" />-->
<!--    </form>-->
<!--</div>-->

<!-- 订单列表 -->
<form method="post" action="order.php?act=operate" name="listForm" onsubmit="return check()">
    <div class="list-div" id="listDiv">
        {/if}

        <table cellpadding="3" cellspacing="1">
            <tr>
                <th> 退货流水号</th>
                <th>订单号</th>
                <th>申请人</th>
<!--                <th><a href="javascript:listTable.sort('add_time', 'DESC'); ">{$lang.label_add_time}</a>{$sort_add_time}</th>-->
                <th>商品名称</th>
                <th>退换数量</th>
<!--                <th>买家退回运单号</th>-->
                <th>买家退回理由</th>
<!--                <th>卖家退回运单号</th>-->
                <th>申请时间</th>
                <th>是否同意</th>
                <th>操作</th>
            <tr>
                {foreach from=$return_list item=back key=dkey}
            <tr>

                <td>{$back.return_id}</td>
                <td>{$back.order_sn}<br /></td>

                <td>{$back.user_name}<br /></td>
                <td>{$back.goods_name}<br /></td>
                <td>{$back.num}<br /></td>
<!--                <td>{$back.return_code}<br /></td>-->
                <td>{$back.return_text}<br /></td>
<!--                <td>{$back.seller_return_code}<br /></td>-->
                <td>{$back.ctime}<br /></td>
                <td> {if $back.return_status =='wait'} 待审核 {/if}
                    {if $back.return_status =='error'}已拒绝{/if}
                    {if $back.return_status =='succ'}已同意{/if}
                    {if $back.return_status =='code'}等待填写运单号{/if}
                    <br /></td>

<!--            succ同意，error 拒绝，wait 待审核-->
<!--                <td align="center" valign="top" nowrap="nowrap">{$back.add_time}</td>-->
<!--                <td align="left" valign="top"><a href="mailto:{$back.email}"> {$back.consignee|escape}</a></td>-->
<!--                <td align="center" valign="top" nowrap="nowrap">{$back.update_time}</td>-->
<!--                <td align="center" valign="top" nowrap="nowrap">{$back.return_time}</td>-->
<!--                <td align="center" valign="top" nowrap="nowrap">{$back.action_user}</td>-->
                <td align="center" valign="top"  nowrap="nowrap">
                    {if $back.return_status =='wait' &&  $back.return_status !='code'}
                    <a href="order.php?act=return_succ&r_id={$back.r_id}">同意</a>
                   <a href="order.php?act=return_save&r_id={$back.r_id}">拒绝</a>
                     {/if}
<!--                    {if $back.return_status =='succ'}-->
<!--                   <a href="order.php?act=return_update&r_id={$back.r_id}">填写发货单号</a>-->
<!--                    {/if}-->
                </td>
            </tr>
            {/foreach}
        </table>

        <!-- 分页 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td align="right" nowrap="true">
                    {include file="page.htm"}
                </td>
            </tr>
        </table>

        {if $full_page}
    </div>
<!--    <div>-->
<!--        <input name="remove_back" type="submit" id="btnSubmit3" value="{$lang.remove}" class="button" disabled="true" onclick="{if(confirm('{$lang.confirm_delete}')){return true;}return false;}" />-->
<!--    </div>-->
</form>
<script language="JavaScript">
    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};

    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
        {literal}

        onload = function()
        {
            // 开始检查订单
            startCheckOrder();

            //
            listTable.query = "back_query";
        }

        /**
         * 搜索订单
         */
        function searchOrder()
        {
            listTable.filter['order_sn'] = Utils.trim(document.forms['searchForm'].elements['order_sn'].value);
            listTable.filter['consignee'] = Utils.trim(document.forms['searchForm'].elements['consignee'].value);
            listTable.filter['delivery_sn'] = document.forms['searchForm'].elements['delivery_sn'].value;
            listTable.filter['page'] = 1;
            listTable.query = "back_query";
            listTable.loadList();
        }

        function check()
        {
            var snArray = new Array();
            var eles = document.forms['listForm'].elements;
            for (var i=0; i<eles.length; i++)
            {
                if (eles[i].tagName == 'INPUT' && eles[i].type == 'checkbox' && eles[i].checked && eles[i].value != 'on')
                {
                    snArray.push(eles[i].value);
                }
            }
            if (snArray.length == 0)
            {
                return false;
            }
            else
            {
                eles['order_id'].value = snArray.toString();
                return true;
            }
        }
</script>
{/literal}

{include file="pagefooter.htm"}
{/if}