* {
    padding: 0;
    margin: 0;
    font-family: arial;
  }
a,a:visited {
  color: #0366d6;
  text-decoration: none;
}

header {
  color: #f0f0f0;
  padding: 16px 16px 40px 16px;
  background-image: linear-gradient(to right, #2938fd, #4190FF);
  font-size: 14px;
}
header .logo {
  width: 40px;
  height: 40px;
}
ul, li {
  font-size: 14px;
}
header .header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
}

header .header a {
  color: #fff;
}
header img {
  width: 100px;
}
h1 {
  font-size: 36px;
  color: #fff;
  font-weight: normal;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.content {
  width: 1000px;
  margin: auto
}

.button {
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  min-width: 140px;
  font-family: Avenir-Heavy;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
}

.button-primary {
  background: #4190FF;
}

.wrap {
  width: 1000px;
  margin: 16px auto auto;
}

.wrap p {
  margin: 16px 0;
  font-size: 14px;
}

.wrap a{
  color: #fff;
}

.content {
  margin-top: 80px;
}

.list {
  width: 800px;
  margin-bottom: 100px;
}

.list .item {
  position: relative;
  padding-left: 70px;
  margin-top: 50px;
}

.list .item .step {
  position: absolute;
  width: 36px;
  height: 36px;
  top: -3px;
  left: 0;
  border: 5px solid #4a6495;
  border-radius: 23px;
  text-align: center;
  line-height: 36px;
}

.list .item h2 {
  font-size: 24px;
  font-weight: normal;
}

.list .item p {
  line-height: 30px;
  margin-top: 10px;
  color: #777
}

.list .item .container {
  padding: 20px 0;
  font: 14px;
}

.list .item .container h3 {
  font-weight: 500;
  margin: 16px 0 8px 0;
}

.list .item .container pre {
  color: #777;
  background-color: #f0f0f0;
  padding: 8px;
}

.list .item .container ul {
  list-style: disc;
  padding: 0 20px;
}