<div class="comments-mod " style="float: none; padding-top: 10px;" id="comment_1114">
                            <div class="areabox clearfix">

                               <div class="input-group">
             <input type="text" placeholder="请输入评论内容，不少于2个字" class="comment-input form-control" name="content">
                        <input type="hidden" value="0" name="replyauthor">
              <span class="input-group-btn"><input type="button" value="评论" class="btn btn-green" name="submit" onclick="addcomment(1114);"> </span>
            </div>

                            </div>
                            <ul class="my-comments-list nav">
                            <li><div class="other-comment am-margin-top-sm">
                            <a id="comment_author_1" href="u-1" title="admin" target="_blank" class="pic">
                            <img width="30" height="30" src="http://www.dianbo.com/data/avatar/000/00/00/small_000000001.jpg?code=46258550" onmouseover="pop_user_on(this, '1', '');" onmouseout="pop_user_out();"></a><p class="am-margin-0"><a href="u-1" title="admin" target="_blank">admin</a>：1111wwwwww</p></div><div class="replybtn"><span class="times">现在前</span><span class="span-line">|</span><a href="javascript:void(0)" onclick="deletecomment(359,1114);">删除</a></div></li>
                            </ul>
                        </div>