.note-list {
	margin:0;
	padding:0;
	list-style:none
}
.note-list li {
	position:relative;
	width:100%;
	margin:0 0 17px;
	padding:0 2px 17px 0;
	border-bottom:1px solid #f0f0f0;
	word-wrap:break-word
}
.note-list li.have-img {
	min-height:140px
}
.note-list .have-img .wrap-img {
	position:absolute;
	top:50%;
	margin-top:-68px;
	right:0;
	width:150px;
	height:120px
}
.note-list .have-img .wrap-img img {
	width:100%;
	height:100%;
	border-radius:4px;
	border:1px solid #f0f0f0
}
.note-list .have-img>div {
	padding-right:160px
}
.note-list .content .cancel {
	display:none
}
.note-list .content:hover .cancel {
	display:inline
}
.note-list .author {
	margin-bottom:14px;
	font-size:13px
}
.note-list .author-restyle {
	margin-bottom:0
}
.note-list .author .avatar {
	margin:0 5px 0 0
}
.note-list .author .avatar,.note-list .author .name {
	display:inline-block;
	vertical-align:middle
}
.note-list .author .name span {
	display:inline-block;
	padding-left:3px;
	color:#969696
}
.note-list .author a {
	color:#333
}
.note-list .author a:hover {
	color:#2f2f2f
}
.note-list .author .time {
	color:#969696
}
.note-list .title {
	margin:-7px 0 4px;
	display:inherit;
	font-size:18px;
	font-weight:700;
	line-height:1.5
}
.note-list .title:hover {
	text-decoration:underline
}
.note-list .title:visited {
	color:#969696
}
.note-list .title:empty:before {
	content:"\65E0\9898"
}
.note-list .origin-author {
	display:inline;
	margin-bottom:5px;
	font-size:12px;
	color:#969696
}
.note-list .origin-author a {
	margin-right:5px;
	color:#3194d0!important
}
.note-list .origin-author a:hover {
	color:#3194d0!important
}
.note-list .comment {
	font-size:15px;
	line-height:1.7
}
.note-list .comment a,.note-list a.maleskine-author {
	color:#3194d0
}
.note-list blockquote {
	margin-bottom:0;
	color:#969696;
	border-left:3px solid #d9d9d9
}
.note-list blockquote .single-line {
	margin:0
}
.note-list blockquote .title {
	margin:0 0 4px;
	font-size:15px
}
.note-list blockquote .abstract {
	margin:0 0 4px
}
.note-list .abstract {
	margin:0 0 8px;
	font-size:13px;
	line-height:24px
}
.note-list .collection-tag {
	padding:2px 6px;
	color:#ea6f5a!important;
	border:1px solid rgba(236,97,73,.7);
	border-radius:3px
}
.note-list .collection-tag,.note-list .collection-tag:hover {
	transition:.1s ease-in;
	-webkit-transition:.1s ease-in;
	-moz-transition:.1s ease-in;
	-o-transition:.1s ease-in;
	-ms-transition:.1s ease-in
}
.note-list .collection-tag:hover {
	color:#ec6149!important;
	background-color:rgba(236,97,73,.05);
	border-color:#ec6149
}
.note-list .follow-detail {
	padding:20px;
	background-color:hsla(0,0%,71%,.1);
	border:1px solid #e1e1e1;
	border-radius:4px;
	font-size:12px
}
.note-list .follow-detail .avatar,.note-list .follow-detail .avatar-collection {
	float:left;
	margin-right:10px;
	width:48px;
	height:48px
}
.note-list .follow-detail .info .title {
	margin:0;
	font-size:17px;
	font-weight:400
}
.note-list .follow-detail .info .title:visited {
	color:inherit
}
.note-list .follow-detail .info p {
	margin-bottom:0;
	color:#969696
}
.note-list .follow-detail .creater,.note-list .follow-detail .creater:hover {
	color:#3194d0
}
.note-list .follow-detail .btn {
	float:right;
	margin-top:4px;
	padding:8px 0;
	width:100px
}
.note-list .follow-detail .signature {
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #e1e1e1
}
.note-list .follow-detail .signature span {
	color:#969696
}
.note-list .meta {
	padding-right:0!important;
	font-size:12px;
	font-weight:400;
	line-height:20px
}
.note-list .meta a {
	margin-right:10px;
	color:#b4b4b4
}
.note-list .meta a,.note-list .meta a:hover {
	transition:.1s ease-in;
	-webkit-transition:.1s ease-in;
	-moz-transition:.1s ease-in;
	-o-transition:.1s ease-in;
	-ms-transition:.1s ease-in
}
.note-list .meta a:hover {
	color:#787878
}
.note-list .meta span {
	margin-right:10px;
	color:#b4b4b4
}
.note-list .push-action {
	margin-top:10px
}
.note-list .btn-gray,.note-list .hollow {
	margin:0 10px;
	padding:4px 12px;
	font-size:12px
}
.note-list .push-status,.note-list .push-time {
	font-size:12px;
	color:#969696
}
.note-list .push-status {
	margin-right:5px;
	font-weight:700
}
.note-list .push-remove {
	font-weight:400;
	color:#ea6f5a
}
@media (max-width:1080px) {
	.note-list li.have-img {
	min-height:112px
}
.note-list .have-img .wrap-img {
	margin-top:-58px;
	bottom:40px;
	width:125px;
	height:100px
}
.note-list .have-img>div {
	padding-right:135px
}
}.search .title {
	float:left;
	font-size:14px;
	color:#969696
}
.search .function-btn {
	float:right;
	font-size:13px;
	color:#969696
}
.search .function-btn:hover {
	color:#2f2f2f
}
.search .search-result-highlight {
	font-style:normal;
	color:#ea6f5a
}
.search .notes-placeholder {
	margin-top:15px
}
.search .notes-placeholder .img {
	display:none!important
}
.search .notes-placeholder .content {
	padding-right:0
}
.search .row {
	padding-top:30px
}
.search .aside {
	position:fixed;
	top:60px;
	bottom:0;
	margin:86px 0 0;
	padding:0 0 30px;
	width:280px;
	overflow:auto
}
.search .aside ul {
	margin-bottom:0;
	list-style:none
}
.search .aside .menu a {
	padding:10px 15px;
	font-size:15px;
	display:block
}
.search .aside .menu li.active a,.search .aside .menu li:hover a {
	background-color:#f0f0f0;
	border-radius:4px
}
.search .aside .menu .setting-icon {
	margin-right:15px;
	width:32px;
	height:32px;
	text-align:center;
	color:#fff;
	background-color:#a0a0a0;
	border-radius:4px;
	display:inline-block;
	vertical-align:middle
}
.search .aside .menu .setting-icon i {
	margin-top:7px;
	font-size:17px;
	display:block
}
.search .aside .menu span {
	vertical-align:middle
}
.search .aside .hot-search {
	margin:30px 15px 0;
	padding:20px 0;
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0
}
.search .aside .hot-search ul {
	margin-top:30px;
	font-size:0;
	clear:both
}
.search .aside .hot-search li {
	margin-right:4px;
	display:inline-block;
	line-height:28px
}
.search .aside .hot-search .search-tag {
	margin-right:6px;
	padding:2px 6px;
	font-size:12px;
	color:#787878;
	border:1px solid #969696;
	border-radius:4px
}
.search .aside .hot-search .search-tag:hover {
	color:#333;
	border-color:#4a4a4a
}
.search .aside .recent-search {
	padding:20px 0
}
.search .aside .recent-search .function-btn {
	margin-right:15px
}
.search .aside .recent-search ul {
	margin-top:30px;
	padding-left:0;
	clear:both
}
.search .aside .recent-search span {
	vertical-align:middle
}
.search .aside .recent-search .title {
	margin-left:15px
}
.search .aside .recent-search .recent-tag {
	padding:10px 15px;
	font-size:14px;
	display:block
}
.search .aside .recent-search .ic-search-history {
	float:left;
	margin:1px 10px 0 0;
	font-size:18px;
	color:#787878
}
.search .aside .recent-search .ic-unfollow {
	float:right;
	margin-top:2px;
	color:#a0a0a0;
	display:none
}
.search .aside .recent-search li:hover a {
	background-color:#f0f0f0
}
.search .aside .recent-search li:hover .ic-unfollow {
	display:inherit
}
.search .aside .recent-search li.active a {
	background-color:#f0f0f0;
	border-radius:4px
}
.search .aside .recent-search li.active .ic-unfollow {
	display:inherit
}
.search .main {
	padding-left:0
}
.search .main .find-nothing {
	margin-top:150px;
	text-align:center
}
.search .main .find-nothing img {
	width:100px
}
.search .main .find-nothing div {
	margin-top:20px;
	font-size:14px;
	font-weight:700
}
.search .main .top {
	margin-bottom:30px;
	background-color:hsla(0,0%,71%,.1);
	border:1px solid #f0f0f0;
	border-radius:4px
}
.search .main .top .title {
	margin-left:18px;
	color:#333
}
.search .main .top .function-btn {
	margin-right:18px;
	color:#3194d0
}
.search .main .top .function-btn:hover {
	color:#3194d0
}
.search .main .top .relevant {
	padding:20px 0
}
.search .main .top .relevant:nth-of-type(2) {
	border-top:1px solid #f0f0f0
}
.search .main .top .list {
	padding-top:10px;
	clear:both
}
.search .main .top .list .avatar,.search .main .top .list .avatar-collection {
	float:left;
	margin-right:6px;
	width:48px;
	height:48px
}
.search .main .top .list .name {
	margin-top:3px;
	font-size:15px;
	font-weight:700;
	vertical-align:middle;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	display:block
}
.search .main .top .list .meta {
	margin-top:5px;
	font-size:12px;
	color:#969696
}
.search .main .top .col-xs-8 {
	padding:0 3px
}
.search .main .search-content {
	position:relative
}
.search .main .search-content .note-list {
	padding-top:10px;
	clear:both
}
.search .main .search-content .note-list .name {
	color:#969696
}
.search .main .search-content .note-list .name a {
	color:#333
}
.search .main .search-content .note-list .name a:hover {
	color:#2f2f2f
}
.search .main .search-content .note-list .title {
	float:none;
	font-size:18px;
	color:#333
}
.search .main .search-content .note-list .title:hover {
	color:#2f2f2f
}
.search .main .sort-type {
	padding-bottom:20px;
	font-size:13px
}
.search .main .sort-type a {
	color:#969696
}
.search .main .sort-type a.active,.search .main .sort-type a:hover {
	color:#2f2f2f
}
.search .main .result {
	position:absolute;
	top:0;
	right:15px;
	font-size:13px;
	color:#b4b4b4
}
.search .main .user-list {
	margin:0;
	padding-top:30px;
	list-style:none;
	clear:both
}
.search .main .user-list li {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #f0f0f0;
	line-height:normal
}
.search .main .user-list .avatar,.search .main .user-list .avatar-collection {
	width:52px;
	height:52px;
	margin-right:8px;
	vertical-align:middle;
	display:inline-block
}
.search .main .user-list .info {
	vertical-align:middle;
	display:inline-block;
	max-width:450px
}
.search .main .user-list .name {
	font-size:15px;
	font-weight:700;
	color:#333
}
.search .main .user-list .name:hover {
	color:#2f2f2f
}
.search .main .user-list .meta {
	padding-top:2px;
	font-size:0;
	color:#969696
}
.search .main .user-list .meta span {
	margin-right:10px;
	padding-right:10px;
	font-size:12px;
	border-right:1px solid #969696
}
.search .main .user-list .meta span:last-child {
	border:none
}
.search .main .user-list .follow,.search .main .user-list .follow-cancel,.search .main .user-list .follow-each,.search .main .user-list .following {
	float:right;
	margin-top:8px;
	padding:8px 0;
	width:100px;
	font-size:15px
}
@media (max-width:1080px) {
	.search .aside
	 {
	width:218.75px
}
.search .main .user-list .info {
	max-width:315px
}
}
