body {
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
}
a {
    color: inherit;
}
input{
    outline: none;
}
.active-color {
    color: #0085EE;
}
.active-bg {
    background-color: #0085EE;
}
.color-333 {
    color: #333;
}
.color-666 {
    color: #666;
}
.color-999 {
    color: #999;
}
.color-FF5C00{
    color: #FF5C00;
}
#header .content,#nav .content,#main .content,#footer .content{
    width: 1200px;
    margin: 0 auto;
}
.medium {
    font-size: 14px;
}
.small {
    font-size: 12px;
}
.main-theme:hover {
    background: #fff!important;
    color: #0085EE!important;
}
.second-theme:hover {
    background: #0085EE!important;
    color: #fff!important;
}

/* header */
#header {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #eee;
}
#header .offical {
    padding-left: 18px;
}
#header .header-item {
    display: inline-block;
    padding: 0 10px;
}
#header .header-item:last-of-type {
    padding-right: 0;
}
#header .header-item:hover{
    color: #0085EE;
}

/* nav */
#nav{
    height: 80px;
    background-color: #ffffff;
    padding-top: 20px;
        box-sizing: border-box;
}
#nav .logo{
    margin-right: 61px;
}
#nav .menu .nav-item{
    margin: 0 27px;
    display: inline-block;
    padding: 12px 0 8px 0;
    line-height: 16px;
    position: relative;
}
#nav .menu .nav-item .mask{
    position: absolute;
    right: -23px;
    top: 0px;
    font-size: 8px;
    line-height: 8px;
    border-radius: 2px;
    display: block;
    background: #f55449;
    padding: 2px;
    color: #ffffff;
}
#nav .menu .nav-item .mask .arrow{
    width: 0;
    height: 0;
    /* border-left: 6px solid #f55449; */
    border-left: 0px solid;
    border-top:5px solid;
    border-right: 8px solid;
    border-bottom: 0px solid;
    border-color: #f55449 transparent transparent transparent;
    position: absolute;
    left:0;
    bottom: -4px;
    display: block;
}

#nav .menu .nav-item.active , #nav .menu .nav-item:hover{
    color: #0085EE;
    border-bottom: 2px solid #0085EE;
}
#nav .search{
    height: 36px;
    padding: 2px;
    background-color: #0085EE;
    width: 194px;
    border-radius: 4px;
    margin-left: 70px;
    box-sizing: border-box;
}
#nav #search{
    height: 32px;
    padding-left: 11px;
    width: 153px;
        box-sizing: border-box;
}
#nav #search::placeholder{
    color: #C8C8C8;
    font-size: 14px;
}
#nav .search-icon{
    width: 36px;
    height: 32px;
    background: url("../img/search.png") no-repeat center;
    background-size: 19px;
}
#nav .send{
    width:77px;
    height:36px;
    font-size: 14px;
    background:rgba(0,133,238,1);
    border-radius:4px;
    color: #ffffff;
    line-height: 36px;
    text-align: center;
 
}
.send .down-icon{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 11px;
    background: url("../img/down.png") no-repeat center;
    background-size: 12px 8px;
}
/* banner */
#main #banner {
    padding-top: 17px;
    margin-bottom: 45px;
}
#banner .banner-head {
    margin-bottom: 17px;
    height: 87px;
    padding-left: 155px;
    padding-right: 18px;
    background: #fff url("../img/notice.png") no-repeat 18px center;
}
#banner .banner-head .red-mark{
    color: #F91238;
}
#banner .banner-head .title {
    padding: 15px 0 8px;
}
#banner .banner-head .desc {
    line-height: 18px;
}
#banner .banner-img {
    width: 900px;
    height: 365px;
    cursor: pointer;
    margin-bottom: 20px;
}
#banner .list {
    height: 125px;
    width: 900px;
}
#banner .list>li {
    float: left;
    width: 14.28%;
    height: 100%;
    padding-top: 15px;
}
#banner .list>li img{
    border-radius: 50%;
}
#banner .list>li .p1 {
    padding-top: 5px;
    line-height: 14px;
    margin-bottom: 9px;
    font-weight: 600;
}
#banner .list>li .p2 {
    line-height: 12px;
}
/* #banner .list>li:nth-of-type(1) {
    background: url("../img/banner-list1.png") no-repeat center 13px;
} 
#banner .list>li:nth-of-type(2) {
    background: url("../img/banner-list2.png") no-repeat center 13px;
} 
#banner .list>li:nth-of-type(3) {
    background: url("../img/banner-list3.png") no-repeat center 13px;
} 
#banner .list>li:nth-of-type(4) {
    background: url("../img/banner-list4.png") no-repeat center 13px;
} 
#banner .list>li:nth-of-type(5) {
    background: url("../img/banner-list5.png") no-repeat center 13px;
} 
#banner .list>li:nth-of-type(6) {
    background: url("../img/banner-list6.png") no-repeat center 13px;
} 
#banner .list>li:nth-of-type(7) {
    background: url("../img/banner-more.png") no-repeat center 37px;
}  */
#banner .banner-download{
    height: 80px;
}
#banner .banner-buys{
    height: 410px;
    margin-top: 20px;
    background: #fff url("../img/banner-right.png") no-repeat center top;
}
#banner .banner-buys .tit1 {
    font-size: 24px;
    line-height: 24px;
    padding: 19px 0 6px 22px;
}
#banner .banner-buys .tit2 {
    line-height: 14px;
    padding-bottom: 61px; 
    padding-left: 22px;
}
#banner .banner-buys .total-tit {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 23px;
}
#banner .banner-buys .total-money {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #F91238;
    padding-bottom: 26px;
}
#banner .banner-buys .send-btn, #banner .banner-buys .publish-article  {
    width: 240px;
    height: 40px;
    line-height: 36px;
    border-radius: 4px;
    border: 2px solid #0085EE;
    margin: 0 auto;
}
#banner .banner-buys .publish-article {
    margin: 15px auto 25px;
}
#banner .banner-buys .banner-r-list {
    border-top: 1px solid #EEEEEE;
}
#banner .banner-buys .banner-r-list li {
    width: 25%;
    padding-top: 47px;
    line-height: 12px;
}
#banner .banner-buys .banner-r-list>li:nth-of-type(1) {
    background: url("../img/banner-r-list1.png") no-repeat center 14px;
} 
#banner .banner-buys .banner-r-list>li:nth-of-type(2) {
    background: url("../img/banner-r-list2.png") no-repeat center 14px;
} 
#banner .banner-buys .banner-r-list>li:nth-of-type(3) {
    background: url("../img/banner-r-list3.png") no-repeat center 14px;
} 
#banner .banner-buys .banner-r-list>li:nth-of-type(4) {
    background: url("../img/banner-r-list4.png") no-repeat center 14px;
}


/* answers精选问答 */
#main #answers{
    /* height: 492px; */
    margin-bottom: 60px;
}
.same-list-left{
    width: 900px;
}
.same-list-menu{
    padding-top: 10px;
    padding-bottom: 21px;
    line-height: 31px;
}
.same-list-menu .menu-title{
    border-left: 5px solid #0085EE;
    padding-left: 16px;
    color: #333333;
    font-size: 28px;
    padding-right: 33px;
}
.same-list-left .menu-fun-list li{
    padding: 0 14px;
    height: 30px;
    color: #666666;
    margin: 0 3px;
    margin-top: 2px;
    cursor: pointer;
    line-height: 30px;
}
.same-list-left .menu-fun-list li.active{
    background: #0085EE;
    color: #ffffff;
}
.same-list-left .same-list-main{
    display: none;
    min-height: 435px;
}
.same-list-left .same-list-main.show{
    display: block;
}
.same-list-left .same-list-main li{
    margin: 0 13px 0 18px;
    border-bottom: 1px solid #E9E9E9;
    padding: 9px 0 18px 0;
    width: 415px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.same-list-left .same-list-main li:nth-last-of-type(1), .same-list-left .same-list-main li:nth-last-of-type(2) {
  
}
.same-list-left .same-list-main li .title{
    color: #333333;
    line-height: 35px;
}
.same-list-left .same-list-main li .list-bottom{
    height: 24px;
    line-height: 24px;
}
.same-list-left .same-list-main li .list-bottom .price{
    color: #FF5C00;
    font-weight: bold;
}
.same-list-left .same-list-main li .list-bottom .personalNum{
    padding-left: 24px;
    padding-right: 6px;
}
.same-list-left .same-list-main li .list-bottom .tag{
    margin: 0 6px;
    height: 24px;
    background: #EBF2F8;
    padding: 0 8px;
    text-align: center;
}

.same-list-right .same-right-imgbox{
    height: 110px;
}
.same-list-right .same-right-main{
    /* height: 362px; */
    margin-top: 21px;
}
.same-right-main .title{
    height: 42px;
    border-bottom: 1px solid #E9E9E9;
    line-height: 42px;
    color: #333333;
    padding-left: 16px;
}
.same-right-main ul{
    margin-top: 8px;
}
.same-right-main li{
    padding: 13px 16px 8px 16px;
}
.same-right-main .same-right-list-img{
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
}
.same-right-main .same-right-list-box{
    padding-left: 12px;
}
.same-right-main .same-right-list-box span{
    display: inline-block;
    padding: 2px 6px 6px 0;
    line-height: 8px;
}
.same-right-main .same-right-list-box *{
box-sizing: border-box;
}
/* industryExperts 行业专家 */
#main #industryExperts{
    /* height: 391px; */
    margin-bottom: 30px;
    padding-top: 20px;
}

#industryExperts ul{
    padding-top: 5px;
    padding-bottom: 62px;
}
#industryExperts li{
    width: 285px;
    height: 243px;
    border: 1px solid #E9E9E9;
    margin-right: 15px;
    padding: 19px 17px;
        margin-bottom: 10px;
}
#industryExperts li:last-child{
    margin: 0;
}
#industryExperts .character{
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 20px;
}
#industryExperts .character .character-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#industryExperts .character .character-main{
    padding-top: 6px;
    padding-left: 20px;
    line-height: 27px;
}
#industryExperts .desc {
    line-height: 22px;
    margin: 11px 0 16px;
    display: -webkit-box;    
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 3;    
    overflow: hidden;
        height: 60px;
}
#industryExperts .ask-btn {
    width: 109px;
    height: 32px;
    border: 1px solid #0085EE;
    line-height: 30px;
    border-radius: 4px;
}
#industryExperts .help {
    line-height: 32px;
}
#industryExperts .help-counts {
    color: #ff5c00;
    padding: 0 3px;
}
#main #industryExperts *{
    box-sizing: border-box;
}
/* optimumCourses 优选课程 */
#main #optimumCourses{
    /* height: 492px; */
    margin-bottom:25px;
}
.optimumCourses-list{
    display: none;
}
.optimumCourses-list.show{
    display: block;
}
.optimumCourses-list>li {
    width: 285px;
    height: 273px;
    border-radius: 5px;
    margin-right: 22px;
    margin-bottom: 22px;
    overflow: hidden;
}
.optimumCourses-list>li a{
    display: inline-block;
}
.optimumCourses-list>li:nth-of-type(3n) {
    margin-right: 0;
}
.optimumCourses-list>li>img {
    width: 100%;
    height: 150px;
}
.optimumCourses-list>li>.tit {
    padding: 16px 16px 12px 16px;
    line-height: 16px;
        text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.optimumCourses-list>li>.study-total {
    padding: 0 16px 15px 16px;
    line-height: 12px;
}
.optimumCourses-list>li>.bottom {
    padding: 0 16px;
}
.optimumCourses-list>li>.bottom .amount {
    line-height: 32px;
}
.optimumCourses-list>li>.bottom .study-btn {
    line-height: 32px;
    width:92px;
    height:32px;
    background:rgba(0,133,238,.15);
    border-radius:4px;
    cursor: pointer;
}

#optimumCourses .same-right-main{
    padding-bottom: 16px;
}
/* 专栏文章 */
.columnist-list {
    margin-bottom: 65px;
}
.columnist-list>li {
    width: calc(50% - 40px);
    padding: 23px 0;
    margin: 0 20px;
    border-bottom: 1px solid #E9E9E9;
}

.columnist-list>li>.img {
    width: 145px;
    height: 104px;
    border-radius: 4px;
}
.columnist-list>li>.cons {
    width: 396px;
    margin-left: 17px;
}
.columnist-list>li>.cons a{
    display: inherit;
}
.columnist-list>li>.cons .tit {
    line-height: 16px;
    padding: 4px 0 11px;
}
.columnist-list>li>.cons .middle {
    line-height: 23px;
    margin-bottom: 10px;
}
.columnist-list>li>.cons .middle .head-img {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin-right: 11px;
}
.columnist-list>li>.cons .middle .text {
    padding: 0 6px;
}
.columnist-list>li>.cons .desc {
    line-height: 20px;
    display: -webkit-box;    
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 2;    
    overflow: hidden;
}



/* footer */
#footer{
    background-color: #3c3c3c;
    color: #ccc;
}
#footer .link-wrap {
    border-bottom: 1px solid #555555;
}
#footer .footer-title {
    padding: 30px 0 17px;
}
#footer .title {
    width: 82px;
    height: 36px;
    line-height: 36px;
    background: #495059;
}
#footer .footer-link {
    line-height: 24px;
    margin-right: 15px;
    margin-bottom: 17px;
    color: #ccc;
}
#footer .footer-link:hover {
    color: #0085EE;
}
#footer .copyrigth {
    height: 70px;
    line-height: 12px;
    color: #ccc;
    padding-top: 24px;
}
.send-menu{
    position: relative;
    float: right;
}
.send-menu ul{
position: absolute;
    width: 77px;
    display: none;
    top: 36px;
    left: 0px;
    background: #f5f5f5;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999;
    border: 1px solid #eaeaea;
}
.send-menu ul li{
    color: #333;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.send-menu ul li a:hover{
    color: #0085EE;
}
.send-menu:hover ul{
    display: block;
}
.ws_header,.ws_header .menu{
	display:inline;
}
#banner .banner-buys .send-btn:hover{
	color:#fff;
}
#banner .banner-buys .publish-article:hover{
	color:#0085EE;
}
.same-content *{
	box-sizing: border-box;
}
