@mixin fx-cube-right($namespace: emb) {
  ##{$namespace} .cuberight {
    -webkit-animation-duration: 0.55s;
  }

  ##{$namespace} .cuberight.in {
    -webkit-transform-origin: 0% 50%;
    -webkit-animation-name: cubeRightIn;
  }

  ##{$namespace} .cuberight.out {
    -webkit-transform-origin: 100% 50%;
    -webkit-animation-name: cubeRightOut;
  }

  @-webkit-keyframes cubeRightIn {
    0% {
      opacity: 0.5;
      -webkit-transform: rotateY(-90deg) translateZ(100%) scale(0.5);
    }

    100% {
      opacity: 1;
      -webkit-transform: rotateY(0deg) translateZ(0) scale(1);
    }
  }

  @-webkit-keyframes cubeRightOut {
    0% {
      opacity: 1;
      -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    }

    100% {
      opacity: 0.5;
      -webkit-transform: rotateY(90deg) translateZ(100%) scale(0.5);
    }
  }
}
