@mixin fx-flip-left($namespace: emb) {
  ##{$namespace} .flipleft {
    -webkit-backface-visibility: hidden;
  }

  ##{$namespace} .flipleft.in {
    -webkit-animation-name: flipLeftIn;
  }

  ##{$namespace} .flipleft.out {
    -webkit-animation-name: flipLeftOut;
  }

  @-webkit-keyframes flipLeftIn {
    0% {
      -webkit-transform: rotateY(180deg) scale(0.8);
    }

    100% {
      -webkit-transform: rotateY(0deg) scale(1);
    }
  }

  @-webkit-keyframes flipLeftOut {
    0% {
      -webkit-transform: rotateY(0deg) scale(1);
    }

    100% {
      -webkit-transform: rotateY(-180deg) scale(0.8);
    }
  }
}
