@mixin fx-slide-down($namespace: emb) {
  ##{$namespace} .slidedown.in {
    z-index: 0;
    -webkit-animation-name: slideDownIn;
  }

  ##{$namespace} .slidedown.out {
    z-index: 10;
    -webkit-animation-name: slideDownOut;
  }

  @-webkit-keyframes slideDownIn {
    0% {
      -webkit-transform: translateY(0);
    }

    100% {
      -webkit-transform: translateY(0);
    }
  }

  @-webkit-keyframes slideDownOut {
    0% {
      -webkit-transform: translateY(0);
    }

    100% {
      -webkit-transform: translateY(100%);
    }
  }
}
