@mixin fx-slide-up($namespace: emb) {
  ##{$namespace} .slideup.in {
    z-index: 10;
    -webkit-animation-name: slideUpIn;
  }

  ##{$namespace} .slideup.out {
    z-index: 0;
    -webkit-animation-name: slideUpOut;
  }

  @-webkit-keyframes slideUpIn {
    0% {
      -webkit-transform: translateY(100%);
    }

    100% {
      -webkit-transform: translateY(0);
    }
  }

  @-webkit-keyframes slideUpOut {
    0% {
      -webkit-transform: translateY(0);
    }

    100% {
      -webkit-transform: translateY(0);
    }
  }
}
