.note-list {
	margin: 0;
	padding: 0;
	list-style: none
}

.note-list li {
	position: relative;
	width: 100%;
	margin: 0 0 17px;
	padding: 0 2px 17px 0;
	border-bottom: 1px solid #f0f0f0;
	word-wrap: break-word
}

.note-list li.have-img {
	min-height: 140px
}

.note-list .have-img .wrap-img {
	position: absolute;
	top: 50%;
	margin-top: -68px;
	right: 10px;
	width: 150px;
	height: 120px
}

.note-list .have-img .wrap-img img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: 1px solid #f0f0f0
}

.note-list .have-img>div {
	padding-right: 160px
}

.note-list .content .cancel {
	display: none
}

.note-list .content:hover .cancel {
	display: inline
}

.note-list .author {
	margin-bottom: 14px;
	font-size: 13px
}

.note-list .author-restyle {
	margin-bottom: 0
}

.note-list .author .avatar {
	margin: 0 5px 0 0
}

.note-list .author .avatar,.note-list .author .name {
	display: inline-block;
	vertical-align: middle
}

.note-list .author .name span {
	display: inline-block;
	padding-left: 3px;
	color: #969696
}

.note-list .author a {
	color: #333
}

.note-list .author a:hover {
	color: #2f2f2f
}

.note-list .author .time {
	color: #969696
}

.note-list .title {
	margin: -7px 0 4px;
	display: inherit;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.5
}
.note-list .big-have-img{
	padding:4px;
	border:solid 1px #eee;
	border-radius:2px;
}

.note-list .big_wrap-img {
	    width: 100%;
    height: 120px;
    margin-bottom:10px;
}

.note-list .big_wrap-img img{
	    width: 100%;
    height: 100%;
}
.note-list .card-box{
	padding:2px;
	margin-bottom: 10px;
}
.note-list .title:hover {
	text-decoration: underline
}
.note-list .big-have-img .title{
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}

.note-list .title:empty:before {
	content: "\65E0\9898"
}

.note-list .origin-author {
	display: inline;
	margin-bottom: 5px;
	font-size: 12px;
	color: #969696
}

.note-list .origin-author a {
	margin-right: 5px;
	color: #3194d0!important
}

.note-list .origin-author a:hover {
	color: #3194d0!important
}

.note-list .comment {
	font-size: 15px;
	line-height: 1.7
}

.note-list .comment a,.note-list a.maleskine-author {
	color: #3194d0
}

.note-list blockquote {
	margin-bottom: 0;
	color: #969696;
	border-left: 3px solid #d9d9d9
}

.note-list blockquote .single-line {
	margin: 0
}

.note-list blockquote .title {
	margin: 0 0 4px;
	font-size: 15px
}

.note-list blockquote .abstract {
	margin: 0 0 4px
}

.note-list .abstract {
	margin: 0 0 8px;
	font-size: 13px;
	line-height: 24px
}

.note-list .collection-tag {
	padding: 2px 6px;
	color: #ea6f5a!important;
	border: 1px solid rgba(236,97,73,.7);
	border-radius: 3px
}

.note-list .collection-tag,.note-list .collection-tag:hover {
	transition: .1s ease-in;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	-ms-transition: .1s ease-in
}

.note-list .collection-tag:hover {
	color: #ec6149!important;
	background-color: rgba(236,97,73,.05);
	border-color: #ec6149
}

.note-list .follow-detail {
	padding: 20px;
	background-color: hsla(0,0%,71%,.1);
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	font-size: 12px
}

.note-list .follow-detail .avatar,.note-list .follow-detail .avatar-collection {
	float: left;
	margin-right: 10px;
	width: 48px;
	height: 48px
}

.note-list .follow-detail .info .title {
	margin: 0;
	font-size: 17px;
	font-weight: 400
}

.note-list .follow-detail .info .title:visited {
	color: inherit
}

.note-list .follow-detail .info p {
	margin-bottom: 0;
	color: #969696
}

.note-list .follow-detail .creater,.note-list .follow-detail .creater:hover {
	color: #3194d0
}

.note-list .follow-detail .btn {
	float: right;
	margin-top: 4px;
	padding: 8px 0;
	width: 100px
}

.note-list .follow-detail .signature {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #e1e1e1
}

.note-list .follow-detail .signature span {
	color: #969696
}

.note-list .meta {
	padding-right: 0!important;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px
}

.note-list .meta a {
	margin-right: 10px;
	color: #b4b4b4
}

.note-list .meta a,.note-list .meta a:hover {
	transition: .1s ease-in;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	-ms-transition: .1s ease-in
}

.note-list .meta a:hover {
	color: #787878
}

.note-list .meta span {
	margin-right: 10px;
	color: #b4b4b4
}

.note-list .push-action {
	margin-top: 10px
}

.note-list .btn-gray,.note-list .hollow {
	margin: 0 10px;
	padding: 4px 12px;
	font-size: 12px
}

.note-list .push-status,.note-list .push-time {
	font-size: 12px;
	color: #969696
}

.note-list .push-status {
	margin-right: 5px;
	font-weight: 700
}

.note-list .push-remove {
	font-weight: 400;
	color: #ea6f5a
}

@media (max-width:1080px) {
	.note-list li.have-img {
		min-height: 112px
	}

	.note-list .have-img .wrap-img {
		margin-top: -58px;
		bottom: 40px;
		width: 125px;
		height: 100px
	}

	.note-list .have-img>div {
		padding-right: 135px
	}
}

.collection .row {
	padding-top: 0px
}

.collection .main {
	padding-right: 0
}

.collection .main .main-top {
	margin-bottom: 35px;
	padding-right:10px;
}

.collection .main .main-top .avatar-collection {
	float: left;
	width: 80px;
	height: 80px
}

.collection .main .main-top .btn {
	float: right;
	margin: 23px 0 23px 16px;
	font-size: 13px
}

.collection .main .main-top .btn-hollow {
	padding: 9px 0;
	width: 90px
}

.collection .main .main-top .disabled {
	opacity: .5;
	color: #42c02e
}

.collection .main .main-top .follow,.collection .main .main-top .follow-cancel,.collection .main .main-top .follow-each,.collection .main .main-top .following {
	padding: 8px 0;
	width: 100px
}

.collection .main .main-top .title {
	padding: 10px 0 0 100px
}

.collection .main .main-top .title .name {
	display: inline;
	font-size: 21px;
	font-weight: 700;
	vertical-align: middle
}

.collection .main .main-top .title .name:hover {
	color: #2f2f2f
}

.collection .main .main-top .ic-official {
	margin-left: 5px;
	font-size: 20px;
	color: #f5a623;
	vertical-align: middle
}

.collection .main .main-top .info {
	margin-top: 10px;
	padding-left: 100px;
	font-size: 14px;
	color: #969696
}

.collection .main .main-top .info a {
	color: #969696
}

.collection .main .main-top .info a:hover {
	color: #2f2f2f
}

.contribute-modal .modal-dialog,.follow-list .modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -280px;
	width: 560px
}

.contribute-modal .modal-header div,.follow-list .modal-header div {
	margin: 20px 0 0;
	position: relative
}

.contribute-modal .modal-header div .search-input,.follow-list .modal-header div .search-input {
	padding: 0 40px 0 20px;
	width: 100%;
	height: 35px;
	font-size: 14px;
	background-color: hsla(0,0%,71%,.2);
	border: none;
	border-radius: 40px
}

.contribute-modal .modal-header div .search-btn,.follow-list .modal-header div .search-btn {
	position: absolute;
	top: 2px;
	right: 6px;
	width: 30px;
	height: 30px;
	color: #969696;
	text-align: center
}

.contribute-modal .modal-header div .ic-search,.follow-list .modal-header div .ic-search {
	margin: 4px -1px 0 0;
	display: block
}

.contribute-modal .modal-body,.follow-list .modal-body {
	padding: 0;
	height: 460px;
	overflow: auto
}

.contribute-modal .modal-body ul,.follow-list .modal-body ul {
	margin: 0;
	list-style: none
}

.contribute-modal .modal-body ul .default,.follow-list .modal-body ul .default {
	padding-top: 200px;
	font-size: 15px;
	color: #999;
	text-align: center
}

.contribute-modal .modal-body ul .default a,.follow-list .modal-body ul .default a {
	color: #3194d0
}

.contribute-modal .modal-body li,.follow-list .modal-body li {
	display: block!important;
	position: relative;
	padding: 20px 100px 20px 25px;
	font-size: 15px;
	border-bottom: 1px solid #e6e6e6
}

.contribute-modal .modal-body .note-name,.follow-list .modal-body .note-name {
	display: inherit;
	vertical-align: middle;
	max-width: 85%
}

.contribute-modal .modal-body .status,.follow-list .modal-body .status {
	font-size: 13px;
	vertical-align: middle
}

.contribute-modal .modal-body span.has-add,.contribute-modal .modal-body span.reject,.contribute-modal .modal-body span.waiting,.follow-list .modal-body span.has-add,.follow-list .modal-body span.reject,.follow-list .modal-body span.waiting {
	color: #969696
}

.contribute-modal .modal-body .action-btn,.follow-list .modal-body .action-btn {
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -12px;
	padding: 2px 5px;
	font-size: 13px;
	border-radius: 3px;
	line-height: normal
}

.contribute-modal .modal-body .push,.contribute-modal .modal-body .repush,.follow-list .modal-body .push,.follow-list .modal-body .repush {
	color: #42c02e;
	border: 1px solid #42c02e
}

.contribute-modal .modal-body .push:hover,.contribute-modal .modal-body .repush:hover,.follow-list .modal-body .push:hover,.follow-list .modal-body .repush:hover {
	background-color: rgba(66,192,46,.05)
}

.contribute-modal .modal-body .revoke,.follow-list .modal-body .revoke {
	color: #969696;
	border: 1px solid #969696
}

.contribute-modal .modal-body .revoke:hover,.follow-list .modal-body .revoke:hover {
	background-color: hsla(0,0%,71%,.05)
}

.contribute-modal .modal-body .remove,.follow-list .modal-body .remove {
	color: #ea6f5a;
	border: 1px solid #ea6f5a
}

.contribute-modal .modal-body .remove:hover,.follow-list .modal-body .remove:hover {
	background-color: rgba(236,97,73,.05)
}

.contribute-modal .modal-footer,.follow-list .modal-footer {
	display: none
}

.contribute-modal .new-note-btn,.follow-list .new-note-btn {
	padding-left: 10px;
	font-size: 13px;
	font-weight: 400;
	color: #42c02e;
	vertical-align: middle
}

.collection .aside {

}

.collection .aside a,.collection .aside a:hover {
	color: #333
}

.collection .aside .title {
	float: left;
	margin-bottom: 10px;
	font-size: 13px;
	color: #969696
}

.collection .aside .function-btn {
	float: right;
	font-size: 13px;
	color: #969696
}

.collection .aside .function-btn:hover {
	color: #2f2f2f
}

.collection .aside .follow-list .modal-dialog {
	width: 560px
}

.collection .aside .follow-list .modal-body {
	height: 495px
}

.collection .aside .follow-list .modal-body ul {
	margin: 0;
	list-style: none
}

.collection .aside .follow-list .modal-body li {
	padding: 15px;
	border-bottom: 1px solid #f0f0f0
}

.collection .aside .follow-list .modal-body li:first-child {
	margin-left: 0
}

.collection .aside .follow-list .modal-body .avatar {
	margin-right: 5px;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	display: inline-block
}

.collection .aside .follow-list .modal-body .name {
	font-size: 15px;
	color: #333;
	vertical-align: middle;
	display: inline-block
}

.collection .aside .follow-list .modal-body .name:hover {
	color: #2f2f2f
}

.collection .aside .follow-list .modal-body .follow-time {
	float: right;
	margin-top: 7px;
	font-size: 12px;
	color: #969696
}

.collection .aside .description {
	position: relative;
	margin-bottom: 20px;
	padding: 0 0 16px;
	text-align: left;
	font-size: 14px;
	clear: both;
	word-break: break-word
}

.collection .aside .open {
	color: #969696
}

.collection .aside .open:hover {
	color: #2f2f2f
}

.collection .aside .open i {
	margin-left: 4px
}

.collection .aside .share {
	margin-bottom: 20px;
	padding-bottom: 20px;
	line-height: 30px
}

.collection .aside .share span {
	font-size: 14px;
	vertical-align: middle
}

.collection .aside .share a {
	margin-left: 10px;
	color: #333
}

.collection .aside .share a:hover .ic-share-weibo {
	color: #e05244
}

.collection .aside .share a:hover .ic-share-wechat {
	color: #00bb29
}



.collection .aside .list {
	margin-bottom: 20px;
	padding-bottom: 10px;
	list-style: none;
	clear: both
}

.collection .aside .list li {
	margin-bottom: 10px
}

.collection .aside .list li a {
	display: inline-block
}

.collection .aside .check-more {
	font-size: 14px;
	line-height: normal;
	color: #969696
}

.collection .aside .check-more:hover {
	color: #2f2f2f
}

.collection .aside .check-more i {
	margin-left: 4px
}

.collection .aside .avatar,.collection .aside .avatar-collection {
	margin-right: 5px;
	width: 32px;
	height: 32px
}

.collection .aside .name {
	position: relative;
	max-width: 236px;
	vertical-align: middle;
	top: 1px;
	font-size: 14px;
	color: #333
}

.collection .aside .name:hover {
	color: #2f2f2f
}

.collection .aside .tag {
	padding: 1px 3px;
	margin-left: 2px;
	border-radius: 3px;
	font-size: 12px;
	border: none;
	         color: #0084FF;
    background: rgba(0, 132, 255, 0.1);
}
.collection .aside .h4{
	  font-size: 18px;
    color: #444;
}
.collection .aside .widget-box{
	margin-bottom:10px;
}
.collection .aside .list.collection-follower li {
	display: inline-block
}

.collection .aside .list.collection-follower li:first-child {
	margin-left: -3px
}

.collection .aside .list.collection-follower li a {
	margin-right: -10px
}

.collection .aside .list.collection-follower li img {
	border: 3px solid #fff;
	background-color: #fff
}

.collection .aside .function-btn {
	position: absolute;
	margin-left: 3px;
	width: 32px;
	height: 32px;
	border: 3px solid #fff;
	border-radius: 50%;
	background-color: #f0f0f0;
	color: #999;
	text-align: center;
	line-height: 2
}

.collection .aside .function-btn:hover {
	background-color: #d5d5d5
}

.collection .aside .user-action {
	color: #969696
}

.collection .aside .user-action a {
	font-size: 13px;
	color: #969696
}

.collection .aside .user-action a:hover {
	color: #2f2f2f
}

@media (max-width:1080px) {
	.collection .aside .name {
		max-width: 176px
	}
}
.list {
    padding: 0;
}
.note-list .meta span.t_price{
	color:red;
}
.note-list .meta span.t_free{
	color:green;
}
 .share-group {
   
   
}

.share-group .share-circle {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block
}

 .share-group .share-circle i {
    
    font-size: 15px;
    line-height: 2
}

 .share-group .share-circle .fa-wechat {
    color: #00bb29
}

 .share-group .share-circle .fa-weibo {
    color: #e05244
}

.share-group .share-circle .fa-qq {
    color: #9b9b9b
}

.share-group .share-circle:hover {
    background-color: hsla(0,0%,71%,.1)
}

.share-group .more-share {
    width: auto;
    padding: 4px 18px;
    font-size: 14px;
    color: #9b9b9b;
    line-height: 40px;
    border-radius: 50px
}

 .share-group .popover-content {
    padding: 0
}

 .share-group .share-list {
    margin: 0;
    list-style: none
}

 .share-group .share-list li {
    line-height: 20px
}

 .share-group .share-list a {
    padding: 5px 10px;
    display: block
}

 .share-group .share-list a:hover {
    background-color: #f0f0f0
}

.share-group .share-list i {
    margin-right: 10px
}

 .share-group .share-list span {
    vertical-align: middle
}


